
@{
    ViewBag.Title = "О нас";
}

<section id="home-info" class="home-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="text-center ots">
                    <h1 class="button-zag">ПОЧЕМУ МЫ?</h1>
                </div>
                <div class="block-task button-ops">
                    Lorem ipsum dolor sit amet, eros amet sodales, mauris fusce vehicula velit nonummy ut odio, vivamus sodales diam pede elit, lorem ante mattis dolor pretium. Nulla suscipit. Sociis dui luctus enim pretium sed. Arcu aliquet, tortor mus ornare fringilla. Irure ante semper ipsum a, praesent erat aliquam sed porttitor netus, sit ullamcorper amet vel vitae mauris pede. A sit libero ac, nulla vitae pharetra accumsan viverra, elit venenatis convallis tortor massa quisque, elit mauris. Vitae sem mauris et maecenas libero, id cras lectus elit. Arcu lacus parturient porttitor, odio placerat dui, ac massa, lacus adipisicing. Enim nec at arcu ut amet elit, eu aliquam neque vestibulum amet magna cras, in luctus quam varius, nibh duis est ullamcorper viverra gravida pulvinar. Aenean adipiscing eu magna nullam ut donec, id in libero varius suspendisse, feugiat sollicitudin, mauris rutrum molestie duis molestie, ipsum vitae sed eros feugiat et. Mi id, ut metus consequat fusce aenean
                </div>
                <div class="text-center ots">
                    <h1 class="button-zag"> МЫ ЛУЧШИЕ! </h1>
                </div>
                <div class="block-task button-ops">
                    Ac et leo. Eget sociosqu, rhoncus congue, diam non. Rhoncus mauris commodo ad nunc enim duis, elit vestibulum ligula fusce turpis nonummy arcu, nec molestie enim volutpat metus ultrices proin. Nec ac praesent massa interdum laoreet consequat, viverra ridiculus laborum at a, qui dui diam eu quisque, erat convallis, posuere eget et rutrum morbi justo. Porttitor diam laoreet urna arcu suspendisse. At sed nullam lectus accumsan, rhoncus euismod, dui provident quisque iaculis justo, nam mauris vel mollis, dis odio neque. Quis eros vitae ut mauris ullamcorper tempus, nascetur facilisi magna integer praesent mauris in.
                </div>
            </div>
        </div>
    </div>
</section>